In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor

In [2]:
df = pd.read_csv(r'C:\Users\asaad\Documents\gdg\f1_dnf.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         10000 non-null  int64
 1   raceId           10000 non-null  int64
 2   year             10000 non-null  int64
 3   round            10000 non-null  int64
 4   grid             10000 non-null  int64
 5   positionOrder    10000 non-null  int64
 6   points           9029 non-null   float64
 7   laps             9022 non-null   float64
 8   milliseconds     8982 non-null   object
 9   fastestLap       10000 non-null  object
 10  rank             10000 non-null  object
 11  fastestLapTime   10000 non-null  object
 12  fastestLapSpeed  9047 non-null   object
 13  driverRef        10000 non-null  object
 14  surname          10000 non-null  object
 15  forename         10000 non-null  object
 16  dob              10000 non-null  object
 17  nationality_x    10000 non-null  object
 18  constructorRef   10000 non-null  object
 19  name             10000 non-null  object
 20  nationality_y    10000 non-null  object
 21  circuitRef       10000 non-null  object
 22  circuitId        10000 non-null  int64
 23  name_y           10000 non-null  object
 24  location         10000 non-null  object
 25  country          10000 non-null  object
 26  lat              10000 non-null  float64
 27  lng              10000 non-null  float64
 28  alt              10000 non-null  int64
 29  date             10000 non-null  object
 30  target_finish    10000 non-null  int64
dtypes: float64(4), int64(9), object(18)
memory usage: 2.4+ MB

In [3]:
df.head()

,resultId,raceId,year,round,grid,positionOrder,points,laps,milliseconds,fastestLap,...,circuitRef,circuitId,name_y,location,country,lat,lng,alt,date,target_finish
0,2460,136,2002,13,11,4,3.0,77.0,NaN,\N,...,hungaroring,11,McLaren,Budapest,Hungary,47.5789,19.24860,264,2002-08-18,1
1,11565,483,1981,1,23,21,0.0,16.0,\N,\N,...,long_beach,43,McLaren,California,USA,33.7651,-118.18900,12,1981-03-15,0
2,18661,772,1958,8,0,26,0.0,0.0,\N,\N,...,nurburgring,20,Maserati,Nürburg,Germany,50.3356,6.94750,578,1958-08-03,0
3,25121,1058,2021,8,19,16,0.0,69.0,\N,57,...,red_bull_ring,70,Haas F1 Team,Spielberg,Austria,47.2197,14.76470,678,2021-06-27,0
4,8863,383,1988,12,0,30,0.0,0.0,\N,\N,...,monza,14,Euro Brun,Monza,Italy,45.6156,9.28111,162,1988-09-11,0

In [4]:
df['milliseconds'] = pd.to_numeric(df['milliseconds'], errors='coerce')
df['fastestLapSpeed'] = pd.to_numeric(df['fastestLapSpeed'], errors='coerce')
df['fastestLap'] = pd.to_numeric(df['fastestLap'], errors='coerce')
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['dob'] = pd.to_datetime(df['dob'], errors='coerce')
df.head()

,resultId,raceId,year,round,grid,positionOrder,points,laps,milliseconds,fastestLap,...,circuitRef,circuitId,name_y,location,country,lat,lng,alt,date,target_finish
0,2460,136,2002,13,11,4,3.0,77.0,NaN,NaN,...,hungaroring,11,McLaren,Budapest,Hungary,47.5789,19.24860,264,2002-08-18,1
1,11565,483,1981,1,23,21,0.0,16.0,NaN,NaN,...,long_beach,43,McLaren,California,USA,33.7651,-118.18900,12,1981-03-15,0
2,18661,772,1958,8,0,26,0.0,0.0,NaN,NaN,...,nurburgring,20,Maserati,Nürburg,Germany,50.3356,6.94750,578,1958-08-03,0
3,25121,1058,2021,8,19,16,0.0,69.0,NaN,57.0,...,red_bull_ring,70,Haas F1 Team,Spielberg,Austria,47.2197,14.76470,678,2021-06-27,0
4,8863,383,1988,12,0,30,0.0,0.0,NaN,NaN,...,monza,14,Euro Brun,Monza,Italy,45.6156,9.28111,162,1988-09-11,0

In [5]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['race_month'] = df['date'].dt.month
df.head()

,resultId,raceId,year,round,grid,positionOrder,points,laps,milliseconds,fastestLap,...,location,country,lat,lng,alt,date,target_finish,month,day,race_month
0,2460,136,2002,13,11,4,3.0,77.0,NaN,NaN,...,Budapest,Hungary,47.5789,19.24860,264,2002-08-18,1,8,18,8
1,11565,483,1981,1,23,21,0.0,16.0,NaN,NaN,...,California,USA,33.7651,-118.18900,12,1981-03-15,0,3,15,3
2,18661,772,1958,8,0,26,0.0,0.0,NaN,NaN,...,Nürburg,Germany,50.3356,6.94750,578,1958-08-03,0,8,3,8
3,25121,1058,2021,8,19,16,0.0,69.0,NaN,57.0,...,Spielberg,Austria,47.2197,14.76470,678,2021-06-27,0,6,27,6
4,8863,383,1988,12,0,30,0.0,0.0,NaN,NaN,...,Monza,Italy,45.6156,9.28111,162,1988-09-11,0,9,11,9

In [6]:
numeric_cols = ['points', 'laps', 'milliseconds', 'fastestLapSpeed']
for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())
df.head()

,resultId,raceId,year,round,grid,positionOrder,points,laps,milliseconds,fastestLap,...,location,country,lat,lng,alt,date,target_finish,month,day,race_month
0,2460,136,2002,13,11,4,3.0,77.0,5788651.0,NaN,...,Budapest,Hungary,47.5789,19.24860,264,2002-08-18,1,8,18,8
1,11565,483,1981,1,23,21,0.0,16.0,5788651.0,NaN,...,California,USA,33.7651,-118.18900,12,1981-03-15,0,3,15,3
2,18661,772,1958,8,0,26,0.0,0.0,5788651.0,NaN,...,Nürburg,Germany,50.3356,6.94750,578,1958-08-03,0,8,3,8
3,25121,1058,2021,8,19,16,0.0,69.0,5788651.0,57.0,...,Spielberg,Austria,47.2197,14.76470,678,2021-06-27,0,6,27,6
4,8863,383,1988,12,0,30,0.0,0.0,5788651.0,NaN,...,Monza,Italy,45.6156,9.28111,162,1988-09-11,0,9,11,9

In [7]:
def time_to_seconds(t):
    if isinstance(t, str) and ':' in t:
        m, s = t.split(':')
        try:
            return int(m)*60 + float(s)
        except:
            return None
    return None

df['fastestLapTime'] = df['fastestLapTime'].apply(time_to_seconds)
df['fastestLapTime'] = df['fastestLapTime'].fillna(df['fastestLapTime'].median())
df.head()

,resultId,raceId,year,round,grid,positionOrder,points,laps,milliseconds,fastestLap,...,location,country,lat,lng,alt,date,target_finish,month,day,race_month
0,2460,136,2002,13,11,4,3.0,77.0,5788651.0,NaN,...,Budapest,Hungary,47.5789,19.24860,264,2002-08-18,1,8,18,8
1,11565,483,1981,1,23,21,0.0,16.0,5788651.0,NaN,...,California,USA,33.7651,-118.18900,12,1981-03-15,0,3,15,3
2,18661,772,1958,8,0,26,0.0,0.0,5788651.0,NaN,...,Nürburg,Germany,50.3356,6.94750,578,1958-08-03,0,8,3,8
3,25121,1058,2021,8,19,16,0.0,69.0,5788651.0,57.0,...,Spielberg,Austria,47.2197,14.76470,678,2021-06-27,0,6,27,6
4,8863,383,1988,12,0,30,0.0,0.0,5788651.0,NaN,...,Monza,Italy,45.6156,9.28111,162,1988-09-11,0,9,11,9

In [8]:
cat_cols = ['driverRef','surname','forename','nationality_x','constructorRef',
            'name','nationality_y','circuitRef','name_y','location','country']

for col in cat_cols:
    df[col] = df[col].astype(str).str.strip().str.lower()

df[cat_cols].isnull().sum()
df.head()

,resultId,raceId,year,round,grid,positionOrder,points,laps,milliseconds,fastestLap,...,location,country,lat,lng,alt,date,target_finish,month,day,race_month
0,2460,136,2002,13,11,4,3.0,77.0,5788651.0,NaN,...,budapest,hungary,47.5789,19.24860,264,2002-08-18,1,8,18,8
1,11565,483,1981,1,23,21,0.0,16.0,5788651.0,NaN,...,california,usa,33.7651,-118.18900,12,1981-03-15,0,3,15,3
2,18661,772,1958,8,0,26,0.0,0.0,5788651.0,NaN,...,nürburg,germany,50.3356,6.94750,578,1958-08-03,0,8,3,8
3,25121,1058,2021,8,19,16,0.0,69.0,5788651.0,57.0,...,spielberg,austria,47.2197,14.76470,678,2021-06-27,0,6,27,6
4,8863,383,1988,12,0,30,0.0,0.0,5788651.0,NaN,...,monza,italy,45.6156,9.28111,162,1988-09-11,0,9,11,9

In [9]:
df = df.drop_duplicates()
df = df.drop(['resultId', 'raceId', 'surname', 'forename', 'dob', 'name_y', 'date'], axis=1)
df.head()

,year,round,grid,positionOrder,points,laps,milliseconds,fastestLap,rank,fastestLapTime,...,circuitId,location,country,lat,lng,alt,target_finish,month,day,race_month
0,2002,13,11,4,3.0,77.0,5788651.0,NaN,\N,90.034,...,11,budapest,hungary,47.5789,19.24860,264,1,8,18,8
1,1981,1,23,21,0.0,16.0,5788651.0,NaN,\N,90.034,...,43,california,usa,33.7651,-118.18900,12,0,3,15,3
2,1958,8,0,26,0.0,0.0,5788651.0,NaN,\N,90.034,...,20,nürburg,germany,50.3356,6.94750,578,0,8,3,8
3,2021,8,19,16,0.0,69.0,5788651.0,57.0,16,70.005,...,70,spielberg,austria,47.2197,14.76470,678,0,6,27,6
4,1988,12,0,30,0.0,0.0,5788651.0,NaN,\N,90.034,...,14,monza,italy,45.6156,9.28111,162,0,9,11,9

In [10]:
encoding_cols = ['driverRef', 'nationality_x', 'country', 'location',
                 'circuitRef', 'name', 'constructorRef', 'nationality_y']
label_enc = LabelEncoder()
for col in encoding_cols:
    df[col] = label_enc.fit_transform(df[col].astype(str))
y = df['target_finish']
X = df.drop(columns=['target_finish']).copy()
if y.dtype == 'object':
    y = label_enc.fit_transform(y.astype(str))
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)
X_train = X_train.fillna(0)
X_test = X_test.fillna(0)
for col in X_train.select_dtypes(include=['object']).columns:
    X_train[col] = label_enc.fit_transform(X_train[col].astype(str))
    X_test[col] = label_enc.fit_transform(X_test[col].astype(str))

In [11]:
y.shape, X.shape

((10000,), (10000, 26))

In [12]:

rf_model = RandomForestRegressor(
    n_estimators=300,
    max_depth=15,
    criterion='squared_error',
    random_state=42
)

rf_model.fit(X_train, y_train)
y_pred_rf = rf_model.predict(X_test)

print("MAE: ", mean_absolute_error(y_test, y_pred_rf))
print("RMSE: ", mean_squared_error(y_test, y_pred_rf))
print("R^2: ", r2_score(y_test,y_pred_rf))

MAE:  0.03172951342117829
RMSE:  0.014723594933433972
R^2:  0.9268061834994508

In [13]:
import joblib
joblib.dump(rf_model, "F1_modeling.pkl")

['F1_modeling.pkl']